.navbar{
    display: flex;
    gap: 20px;
    background-color: #1a1a1a;
    padding: 15px 20px;
    width: 100%;
}

.navbar a {
    color: #00ffff;
    text-decoration: none;
}

.navbar a:hover {
    color: #ff00ff;
}